@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,900');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Futura', sans-serif;
    // transition: all ease-in-out 250ms;
}

$main-bg-color: #ffffff; 
$second-bg-color: #ffffff;
$secondary-color: rgba(241, 241, 241, .5);
$nav-color:rgba(214, 214, 214, 0.432);
$accent-color: #F4A261;
$text-color: #EFEFEF;
$text-dark: #261f19;
$btn-color: #FB8B24;
$border-radius:6px;
$border-color:#e6e7e8;
$danger-color:#C73A30;
$info-color:rgb(79, 79, 212);
$error-bg:#d4665fa2;
$error-color:#d45d55fd;
$dblue-color:#19134F;
$admin-nav-bg:hsl(253, 23%, 24%);
$admin-bg:hsl(225, 40%, 96%);
$admin-card-bg:#ffffff;
$admin-color:hsl(219, 42%, 26%);
$admin-color-dark:hsl(219, 35%, 39%);
$admin-color-light:hsl(226, 27%, 34%);
$admin-color-light1:hsl(219, 30%, 63%);
$admin-color-light2:hsl(219, 47%, 80%);
$admin-color-light3:hsl(225, 40%, 96%);
$admin-bshadow:rgba(120, 143, 186, 0.6);
$admin-ivory:hsl(77, 100%, 97%);



h4 {
    line-height: 1.5em;
}


html,
body {
    overflow-x: hidden !important;
    letter-spacing: 1px;
    color: rgb(37, 37, 37);

}

body {
    background-color: $main-bg-color;
    max-width: 100vw;
    position: relative
    // overflow-x: hidden;
}

p {
    // color: $text-color;
    max-width: 100%;
    margin-top: 1em;
    line-height: 1.6em;
    font-weight: 300;
    color: $text-dark;
}
// .flex {
//     display: flex;
// }

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}
// .mt {

// }
@for $i from 1 through 4 {
    .pt-#{$i} {
        margin: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .m-#{$i} {
        margin: #{$i}em;
    }
}
@for $i from 1 through 6 {
    .mt-#{$i} {
        margin-top: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .mb-#{$i} {
        margin-bottom: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .ml-#{$i} {
        margin-left: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .mr-#{$i} {
        margin-right: #{$i}em;
    }
}
.error-box {
    // border: 1px solid $error-color ;
    border-radius: 2px;
    padding: .5em;
    // background-color: $error-color;
    color: $error-color;
    margin-top:.3em;
    font-weight: 400;

}

.box-shadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.btn-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width:45em) {
    .btn-container {
        // max-width: 65%;
        justify-content: flex-end;
    }
}
.btn {
     @extend .box-shadow;
     padding: 1em 1em;
     border-radius: 3px;
     margin-top: 2em;
     background: #19134F;
     color: $text-color;
}
.update-btn {
    @extend .box-shadow;
    padding: 1em 2em;
    border-radius: 3px;
    margin-top: 2em;
    background: #19134F;
    // margin-left: 1em;
    color: $text-color;
}

.delete-btn {
    @extend .box-shadow;
    padding: 1em 2em;
    border-radius: 3px;
    margin-top: 2em;
    background: #C73A30;
    color: $text-color;
}

.success {
    max-width: 70%;
    color: #4BB543;
    margin: 0 auto;
    margin-top: 7em;
}
.info {
    max-width: 70%;
    color: $info-color;
    margin: 0 auto;
    margin-top: 7em;
}

.error {
    color: #721c24;
    max-width:70%;
    margin: 0 auto;
    margin-top: 7em;
}


img.hero-wrap {
    text-align: center;
    height: 80vh;
    width: 100vw;
    z-index: -2;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-fit: fill;
    object-fit: fill;
}


.hero-div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80vh;
    width: 100vw;
    background-color: rgba(61, 64, 91, 0.4);
    padding: 12em 2em;
    text-align: center;
}

.hero-button {
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-radius: 30px;
    border-style: solid;
    padding: .2em 1.75em;
    padding-top: -.5em;
    color: var(--text-color);
    padding-bottom: .6em;
    margin-top: 2em;
}

.eng-container {
    display: none !important;
}

.eng .eng-container {
    display: block !important;
}

.pol-container {
    display: none !important;
}

.pol .pol-container {
    display: block !important;
}

.flex-eng-container {
    display: none !important;
}

.eng .flex-eng-container {
    display: flex !important;
}

.flex-pol-container {
    display: none !important;
}

.pol .flex-pol-container {
    display: flex !important;
}

.btn-wrapper {
    position: fixed;
    right: -55px;
    top: 70%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    color: #F1F1F1;
    justify-content: center;
    // border: 1px solid #F1F1F1;
    border-right: none;
    z-index: 999999999999;
    animation: borderAnimation 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    .lang {
        cursor: pointer;
        padding: .25em .55em;
        pointer-events: all;
        border: 1px solid #F1F1F1;
        transition: border .5s;

        &:hover {
            border: 1px solid #F1F1F1;
        }
    }
}

.eng-btn {
    // border-bottom: 1px solid #F1F1F1;
    margin-bottom: .5em;
}

.pol-btn {
    margin-top: .5em;

}

@keyframes borderAnimation {
    from {
        // opacity: 0;
        transform: translateX(50%);
    }

    to {
        // opacity: 1;
        transform: translateX(-100%);
    }
}


.site-wrapper {
    overflow: hidden !important;
    position: absolute;

}
.img-container {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: fill;
    height: auto;
}



h1,
footer {
    color: #363636;
}

a {
    color: #292929;
    text-decoration: none;
}



h1::before {
    content: "";
    display: block;
    width: 10px;
    height: 30px;
    background-color: $accent-color;
    position: relative;
    top: 30px;
    left: -20px;
    border-radius: 10px;

}

////////////////////////START///////


img.hero-wrap {
    text-align: center;
    // background: rgba(92, 70, 44, 0.4);
    // background-image: url(images/kleider.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // background-blend-mode: multiply;
    height: 80vh;
    width: 100vw;
    z-index: -2;
    object-fit: cover;
    // padding: 12em 2em;
    object-fit: fill;

}

.hero-div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80vh;
    width: 100vw;
    background-color: rgba(61, 64, 91, 0.40);
    padding: 12em 2em;
    text-align: center;


    .hero-text-container {
        transform: rotateZ(.2deg);
    }
}

.container {


    #first-h1::before {
        display: none;
    }
}

span {
    color: #242424;
    font-size: 1.2em;
}

.hero-button {
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-radius: 30px;
    border-style: solid;
    padding: .2em 1.75em;
    padding-top: -.5em;
    color: $text-color;
    padding-bottom: .6em;
    margin-top: 2em;
    // background-color: $btn-color;
}

@media (min-width:60rem) {


    img.hero-wrap {
        height: 100vh !important;
        background-position: initial;
        // padding: 23em 5em;
        width: 100vw;
        position: relative;



    }

    .hero-div {
        padding: 23em 5em;
        height: 100vh;
        font-size: larger;

        h1 {
            font-size: 1.7em;
        }
    }




    p {
        font-size: 1.1rem;
    }

    .title {
        font-size: 3.7rem;
    }
}

@media (min-width:75rem) {
    .hero-div h1 {
        padding: 0em 10em;
    }

}





/////////NEXT-SECTION////////////////

svg {
    position: relative;
    top: 6px;
    margin-left: .25em;
}

section {
    width: 100%;
    min-height: 200px;
    padding: 6em .25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4em;
}

nav {
    position: absolute;
    // color: #261f19;
    // background-color: rgba(255, 192, 203, 0);
    // display: flex;
    // align-items: center;
    // align-content: center;
    // min-height: 8vh;
    width: 100vw;
    // justify-content: center;
    // font-weight: 500;
    // // padding-top: 1em;
    z-index: 2;
    // top: 0px;
    // // transform: transition all no;
}
.inner-nav-wrapper {
    // position: absolute;
    color: #261f19;
    background-color: rgba(255, 192, 203, 0);
    display: flex;
    align-items: center;
    min-height: 8vh;
    margin: 0 auto;
    width: 100vw;
    justify-content: space-around;
    font-weight: 500;
    // padding-top: 1em;
    z-index: 2;
    top: 0px;
    border: 1px solid $border-color;
    box-shadow: 0px 5px 15px rgba(75, 75, 75, 0.1);

}
.sticky .inner-nav-wrapper {
    background: rgb(241, 241, 241);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3)); 
    backdrop-filter: blur(2rem);    
}

nav.sticky {
    position: fixed;
    top: 0;
    // background: rgb(241, 241, 241);
    // background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
    padding-top: 0;
    transition: all .3s;
}

nav.sticky li a {
    padding: 1em 2em;
    color: $text-dark;
    transition: all .3s;

}
.sticky.open nav li a {
    color: $text-dark;
}

.open nav li {
    position: relative;
    top: -30px;
    margin: -4em 1em;
    position: relative;
    top: -30px;
    margin: -4em 1em;
}


.sticky .burger .lines {
    background-color: $text-dark;
}

.sticky.open .burger .lines {
    background-color: $text-dark;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    color: $text-dark;
    // width: 40%;
}

ul {
    position: relative;

}

li {
    list-style: none;
    margin: 0 1em;
    width: 100%;
    text-align: center;

    a {
        padding: 1.5em 2em;
        cursor: pointer;
        display: block;
        height: 100%;
        width: 100%;
        color: $text-dark;
        text-decoration: none;
    }
}


#dot {
    opacity: 0;
    position: absolute;
    top: 60px;
    left: 110px;
    // transform: translateX(-10px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $btn-color;
}

@keyframes dotAnimaton1 {
    from {}

    to {}
}


.nav-links li:nth-child(1):hover~#dot {
    opacity: 1;
}

.nav-links li:nth-child(2):hover~#dot {
    opacity: 1;

    transform: translateX(150px);
}

.nav-links li:nth-child(3):hover~#dot {
    opacity: 1;

    transform: translateX(320px);
}

.nav-links li:nth-child(4):hover~#dot {
    opacity: 1;

    transform: translateX(510px);
}

.burger {
    display: none;

    .lines {
        // display: none;
        display: flex;
        align-self: center;
        height: 3px;
        width: 2em;
        background-color: $text-dark;
        margin: 6px;
        border-radius: 5px;
    }
}

@media (max-width:60em) {

   

}



/////-SECTION2-///////

.dot1,
.dot2,
.dot3,
.dot4 {
    background-color: #264653e8;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: .5em;
}

.dot-container {
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.card {
    background-color: $secondary-color;
    border-radius: $border-radius;
    // padding: 2em;
    margin: 2em auto;
    border: 1px solid #e6e7e8;
    border-left-width: 3px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    //   background: rgb(241, 241, 241);
    //   background: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3));
      backdrop-filter: blur(2rem);

}
.border {
    border:1px solid $border-color;
}

.radius {
    border-radius: $border-radius;
}

.card1 {
    position: relative;
    width: 50%;
    top: -75px;
    flex: .6;
    border: 1px solid #e6e7e8;
}

.card1::before {
    content: "";
    display: block;
    background-color: #315462;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    left: 70px;
    z-index: -1;
    border-radius: 6px;
}

.button {
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 500;
    padding: .4em 1.75em;
    padding-top: -.5em;
    color: $text-color;
    margin-top: 2em;
    background-color: $btn-color;
    border-radius: 7px;

}


img:not(:first-child):not(.hero-wrap) {
    margin-top: 3em;
    width: 30%;
    height: auto;
    margin: 0 auto;
    transform: translateX(40px);
}


@media (max-width:60em) {

 .logo {
     width: 100px;
 }

 .burger {
     display: block;
     z-index: 999999;
     padding: .5em;
     pointer-events: all;
 }

 nav::before {
     content: "";
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.404);
     z-index: 999;
     opacity: 0;
     transform: scale(0);
     transition: opacity .5s;
 }

 nav.pointer {
     pointer-events: none;
 }

 .nav-links {
     position: absolute;
     color: $text-dark;

     right: 0px;
     top: 0;
     height: 100vh;
     z-index: 1000;
     background-color: $main-bg-color;
     display: flex;
     flex-direction: column;
     right: -100%;
     transition: right 0.5s;
     width: 50%;
     padding-left: 2em;



     li {
         opacity: 0;

         a {
             text-align: start;
             color: $text-dark;
             font-size: .9rem;
             font-weight: 500;
         }
     }
 }

 .open nav::before {
     opacity: 1;
     transform: scale(1);
 }

 .open .nav-links {
     right: 0%;
     color: $text-dark;



 }

 html.open {
     overflow-x: hidden !important;
 }

 @keyframes linkFade {
     from {
         opacity: 0;
         transform: translateX(50px);
     }

     to {
         opacity: 1;
         translat: transformX(0px);
     }
 }

    section {
        // display: flex;
        // flex-direction: column;
        // padding: 3em 0;
        // padding-bottom: 1em;

       
        .card1 {
            width: 110%;

            position: relative;
            top: -70px;
            left: -2em;
            border-radius: 7px;
        }

        .card1::before {
            left: 35px;
        }

    }

    img:not(:first-child):not(.hero-wrap) {
        // width: 220px;
        // transform: translateX(-5px);

    }

    // #karton {
    //     transform: translateX(60px);
    //     transform: translateY(-160px);

    // }
}

///////////////

.section2 {
    padding-top: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;


    .card2 {
        flex: .7;
    }

    .lkw {
        margin-top: 3em;
    }
}

#bubble-left {
    position: absolute;
    left: -3em;
    top: 3em;
    z-index: -1;
}
#bubble-right {
    position: absolute;
    // display: none;
    right: -.5em;
    top: 30em;
    z-index: -1;
}


@media (min-width:60em) {
    .logo {
        margin-left: 2em;
    }

    img:not(.logo) {
        margin-top: 3em;
        width: 30%;
        height: auto;
        margin: 0 auto;
    }
    .inner-nav-wrapper {
        max-width: fit-content;
    }
    #bubble-left {
        margin-left: -2.5em;
        top: 3em;
    }

    .card {
        padding: 0em;
        padding-bottom: 2em;
    }
    section {
        flex-direction: row;
        padding: 3em 0;
        padding-bottom: 1em;
    }

    .section2 {
        padding-top: 4em;
        flex-direction: row;
        flex-direction: row-reverse;

    }

}


//////////////

.section3 {
    padding: 0em;
    overflow: hidden;

    .card3 {
        display: flex;
        flex-direction: column;
        padding: 2em;

        .container {
            padding-top: 0;
            padding-bottom: 3em;
        }

        img {
            width: 100%;
        }
    }
}



@media (min-width:70em) {

    .btn-wrapper {
        position: fixed;
        right: -70px;
        top: 3%;
        transform: translateY(-50%);


        .lang {
            cursor: pointer;
            padding: .25em .55em;
            pointer-events: all;
            border: 1px solid #F1F1F1;
            transition: border .5s;

            img {
                width: 50px;
            }

            &:hover {
                border: 1px solid #F1F1F1;
            }
        }
    }

    .section3 {
        // display: flex;
        padding: 4em;
        padding-top: 7em;

    }


    .card3 {
        flex: .85;
        margin-left: -4em;

        .container {
            width: 50%;
            padding: 1em;
            padding-left: 4em;

        }

        img {
            flex: 1;
        }

    }

    #first-row {
        display: flex;
        justify-content: flex-end;

    }

    #second-row {
        display: flex;
        flex-direction: row-reverse;
    }

    #second-row .container {
        padding-left: 2em;
    }

}

footer {

    $footer-color: rgb(235, 235, 235);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0 0 0;
    letter-spacing: 1px;
    color: $footer-color;


    .icon-wrapper {
        width: 30%;
    }

    a {
        color: $footer-color;
    }

    .firm-name {
        color: rgb(187, 187, 187);
        padding: 1em 0 .7em;
        margin-top: auto;
        background-color: rgb(27, 55, 66);
        width: 100vw;
        text-align: center;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        font-size: .85rem;
        margin-top: 3em;
    }

    .icon-wrapper {
        // cursor: pointer;
        display: flex;
        align-content: flex-start;


        .icons {
            margin-right: 1em;
        }

    }
}

@media (max-width:60em) {


    footer {
        font-size: .9em;

        .firm-name {
            font-size: .75rem;
        }

        .icon-wrapper {
            margin-bottom: 1em;
        }
    }

    .icons:not(#location-icon) {
        width: 22px;
    }

    #location-icon {
        width: 29px;
    }
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 1;
    padding: 0 1em;


 
    img.article-image {
        all: unset;
        height: auto;
        margin-top: 2em;
        max-width: 100%;
        height: auto;
        max-height:600px;
    
    }

}

section {
    display:flex;
    padding: 6em .25em;

    .mainblock {
        flex: .8;
        //   background: rgb(241, 241, 241);
        //   background: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3));
        //   backdrop-filter: blur(2rem);

        h1 {
            font-weight: lighter;
            font-size: 1.8rem;
            line-height: 1.5em;
            // text-align:left;
            // align-self: flex-start;

        }
        h1:before {
            top: 37px;

        }
    }   
    .articles-section {
        flex: .2;
        // padding: 2em 2em;
        margin-left: 2em;

        p {
            font-weight: 200;
            font-size: 1rem;
        }
    }
    
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.create-form {
    display: flex;
    flex-direction:column;
    width: 90%;

    input, textarea ,button {
        padding: 1em;
        margin-top: 1.5em;
        @extend .border;
        color:$admin-color-dark ;
        line-height: 1.56em;
        letter-spacing: 1.7px;
        font-size: .85rem;

    }
    
    input:focus, textarea:focus ,button:focus {
           outline: none !important;
           border:2px solid $admin-color-light2;
           box-shadow: 0 0 5px $admin-color-light2;
    }

    .create-form-btn {
        // @extend .box-shadow;
        // @extend .border;
         border: 3px solid $admin-color-dark;
         background-color: rgba(187, 187, 187, 0);
         font-size: 1rem;
         color: $admin-color-dark;
         font-weight: 600;
         padding: .5em;
         box-shadow: 0.3em 0.3em 0 $admin-color-dark;
    }
}


.card-menu {
    // border: 1px solid red;
    background-color: $nav-color;
    display: flex;
    // flex-direction: ;
    // align-items: space-between;
    justify-content: space-between;

    .card-menu-x-btn {
        color: $accent-color;
        display: block;
        max-height: max-content;
        width: max-content;
        font-size: 1.6em;
        font-weight: 300;
        padding: 0 .55em;
        padding-bottom: .2em;
    }
}
.opacity {
    opacity: 0;
    transition: opacity .3s;

}
.tab-container {
    display:flex;
    justify-content:space-around;
    align-items: center;
    
    .tab {
        background-color: rgba(77, 77, 77, 0.137);
        border-radius: 2px;
        width: 100%;
        padding: 1em;
        padding-bottom: .5em;
        margin:.25em;
    }

}
// .tab-container > * {
//     width: 100%;
// }

.browser-dot-container {
    display: flex;
    align-items: center;
    align-content: center;

    .browser-dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 5px;
        box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    }
        
    #dot-1 {
        background: #FC6058;
    }

    #dot-2 {
        background: #FEC02F;
    }

    #dot-3 {
        background: #2ACA3E;
    }
}



@media (min-width:45em) {
    .mainblock p {
       max-width: 70ch;
    }
        .update-btn {
            margin-left: 1em;
        }
}


@media (max-width: 30em) {
   

    div.card.mainblock {
        margin-bottom: 0;
    }
    .sticky .burger {
        margin-right: -2em;
    }
    nav.sticky {
        position: fixed;
        top: unset;
        bottom: 0px;
    }
    
    .sticky.open .nav-links {
        //  position: absolute;
        top: unset;
        bottom: 1px;
        color: $text-dark;

    }
    .sticky.open nav li {
        top: 20px;
    }
    
    html.open {
        overflow-y: hidden;
    }
    nav::before {
        top: unset;
        bottom: 0;
        width: 100vw;
        height: 100vh;
    }
}
.card.articles-section {
    // padding: .8em;
    min-width: 25%;
    max-width: 100%;

    .article-pannel {
        padding: .5em;
         margin-left: .3em;
         margin-right: .3em;
         margin-bottom:.3em;
        background: $second-bg-color;
        

        a {
            color: $accent-color;
        }

        :not(:first) {
            margin-top: 1em;
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 20px;
            /* fallback */
            min-height: 3.4em;
            /* fallback */
            -webkit-line-clamp: 2;
            color: $text-dark;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
    
}



.article-pannel:not(:first-of-type) {
    margin-top: 1em;
}

img.star-icon {
    all: unset !important;
    width: 20px !important;
}
.ratings-container {
    display: flex;
    overflow-x: scroll;
    align-items: center;

    .ratings {
        width: 100%;
        height: 100%;
        padding: .5em;
        background: #315462;
        border-radius: 10px;
        p {
            min-width: 20ch;
        }
    }

    .ratings:not(:first-of-type) {
        margin-top: 1em;
        margin-left: 1em;
    }

}

.ratings-container {
    display: flex;
    overflow-x: scroll;
    align-items: stretch;

    .ratings {
        width: 100%;
        min-width: 800px;
        padding: .5em;
        background: #315462;
        

        // p {
        //     min-width: 20ch;
        // }
    }

    .ratings:not(:first-of-type) {
        margin-left: 1em;
    }

}

@media (min-width:60em) {
    .flex-container img.article-image {
    }
    .mainblock p {
        max-width: 60ch;
    }
    section {
        max-width: 90vw;
        margin: 0 auto;
    }
    
   
}


@media (max-width:70em) {

    section {
        flex-direction: column;

        .mainblock {
            flex: .8;
            margin-right: 0em;
        }

        .card {
            // padding: 0em 2em;
            padding-bottom: 2em;
            margin: 2em 0;

        }

        .article-pannel {
            max-width: max-content;
        }
    }

}

@media (min-width:80em) {

    section {
        max-width: 80vw;
        margin: 0 auto;
    }

   

}

#articles-mainsection {
    
        background-color: $main-bg-color;
        margin: 5em auto;

        
}

@media (min-width:50em) {

    #articles-mainsection {
        max-width: 70%;
        margin-top: 5em;
    }
    

}

.register-form-container {
    max-width: 30em;
    padding: 2em;
    margin-top: 9em;

    .register-form {
        display: flex;
        flex-direction: column;

    }
        // display: flex;
        // flex-direction:column;
        // width: 90%;

        input,
        textarea,
        button {
            padding: 1em;
            margin-top: 1.5em;
            @extend .border;

        }

        .create-form-btn {
            @extend .box-shadow;
            @extend .border;
            color: $text-color;
            background: $dblue-color;
        }
}

.articles-container {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}
.articles-index .card.articles-section .article-pannel p {
    -webkit-line-clamp: 5;
    line-height: 25px;

}


///////////// ADMIN-SECTION ////////////////////////

#site-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
// .close-nav nav.admin-nav-l {
//     flex: 0;
//     transition: flex .3s;
// }

.admin-burger img {
    width: 35px;
 
}

.close-nav {
    transition: all .3s;
    // width: unset;
    flex: 3;
    position: relative;
    max-width: 300px;
    min-width: 130px;
}
nav.admin-nav-l.close-nav {
    width: unset;
    flex: 3;
    max-width: 300px;
    min-width: 130px;
    transition: all .3s;

}

nav.admin-nav-l {
    background: $admin-nav-bg;
    flex: 1;
     // transition: flex .3s;
    position: relative;

    width: 0px;
    max-width: 0px;
    min-width: 0px;
     // transition: all .3s;
    transition: all .3s;



    .nav-icons {
        width: 15px;
    }
    .icons-container {
        display: flex;
        align-items: center;
    }
    .logo-container {
        width: 75px;
        display:flex;
        align-items:center;
        justify-items: center;
        justify-content: center;
        padding-bottom:1em;

    }
    .admin-logo {
        max-width:65px;
    }
    img {
        width: 100%;
        // width: 80px;
    }
        overflow: hidden;
    ul {
        padding: 1.3em;
        padding-right: 0;
        position: absolute;
        overflow: hidden;
        width: 100%;

    }
    li {
        margin: 0;
    }
    a {
    color: $admin-color-light2;
    text-align: left;
    padding:1.25em;
    font-size: .8rem;

    }

}
@media (min-width:400px) {

    nav.admin-nav-l {
        flex: 1;
        max-width: 60px;
        min-width: 60px;

        ul a {
            opacity: 0;
            transition: opacity .3s;
        }

        .nav-icons {
            width: 17px;
        }

        .logo-container {
            opacity: 0;
        }
        
    }

     nav.admin-nav-l.opacity-1 ul a {
        opacity: 1;
    }
 
    
     nav.admin-nav-l.opacity-1 .logo-container {
        opacity: 1;
    }
   
}




@media (min-width:40em) {
    nav.admin-nav-l {
        flex: 3;
        // transition: width .3s;
    }
   
}

section.admin-section {
    all: unset;
    color: $admin-color-light1;
    flex: 8;
    background-color:$admin-color-light3;


    .btn {
        border: 3px solid $admin-color-dark;
        background-color: rgba(187, 187, 187, 0);
        font-size: 1rem;
        color: $admin-color-dark;
        font-weight: 600;
        padding: .5em;
        box-shadow: 0.3em 0.3em 0 $admin-color-dark;
    }
    // .border {
    //     @extend .box-shadow;
    //     border-left: 1px solid $admin-color-light1;
    //     border-top: 1px solid $admin-color-light1;
    //     border-right: 4px solid $admin-color-light2;
    //     border-bottom: 4px solid $admin-color-light2;
    // }

    h3 {
        color: $admin-color-dark;
        font-size: 1.4rem;
    }

    .browser-dot {
        width: 13px;
        height: 13px;
    }

    .card-menu-x-btn {
        color: $admin-color-light;
    }

    nav.admin-nav {
        all: unset;
        // display: flex;
        justify-content: space-around;
        padding: .5em 0;
        background-color: $admin-card-bg;
    
        .search-box {
            display: flex;
            align-items: center;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            padding: .5em 1em;
        }
    }

     .card.form-container {
         background-color:$admin-card-bg;
     }

     .articles-section {
         background-color: $admin-card-bg;
     }
     .articles-section .article-pannel a {
         color: $admin-color-light2;
     }

    .card.mainblock {
       all: unset;
       width: 100%;
    //    height: 100vh;
       display: flex;
       flex-direction: column;
        //    height: 100vh;

       

        .col-wrapper {
            padding: 0 1em;
        }
        .admin-col-flex {
            // display: flex;
            // width: 100%;
            flex-wrap: wrap;

            .card {
            margin: unset;
            margin-top: 1em;
            background-color: $admin-card-bg;
            // min-width: 100%;
            padding: 1.5em;
            display: flex;
            justify-content: space-between;

            p {
                all: unset;
                color: $admin-color-dark;
            }
            
            .icon-container {
                padding: .5em;
                border: 1px solid linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
;

                img {
                    width: 30px;
                }
            }
            

            }
          
        }
        .dia {
            flex: 7;
        }
        .kp {
            flex: 3;
        }
      
    }
}
@media (min-width:530px) {
     .admin-col-flex {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

         .card {
            //  background-color: $admin-card-bg;
            // //  max-width: max-content;
            // width: 300px;
            max-width: 50%;
            flex: 0 0 50%;
            //  padding: 2em;

             p {
                 all: unset;
                 color: $admin-color-dark;

             }
           

         }
    }
}
@media (min-width:1200px) {
     .admin-col-flex {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

         .card {
            //  background-color: $admin-card-bg;
            // //  max-width: max-content;
            // width: 300px;
            max-width: 25%;
            flex: 0 0 25%;
            //  padding: 2em;

           

         }
    }
}